.navbar:before,
.navbar:after{
    content: unset;
}
.modal-header button{
    order: 1px solid #ccc;
    height: 30px;
    border-radius: 4px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #ccc;
    opacity: 1;
    color: #fff;
}
.modal-header button span{
    line-height: 30px;
}
.fas.d-flex,
.d-flex{
    display: flex;
} 
.align-items-center{
    align-items: center;
}
.justify-content-center{
    justify-content: center;
}
.flex-column{
    flex-direction: column;
}
.w-100{
    width: 100%;
}

/*Start Tags*/
.simple-tags {
    border: 1px solid #1e87f0;
    box-sizing: border-box;
    margin: 1em;
    padding: 0em 0.5em;
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    border-radius: 5px; 
}
.simple-tags > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap; 
}
.simple-tags ul li {
    margin: 0.5em 0.2em;
    padding: 0.5em;
    color: #fff;
    background-color: #1e87f0;
    border-radius: 5px; 
}
.simple-tags ul li a {
    margin: 0.5em 0.2em;
    text-decoration: none;
    color: inherit; 
}
.simple-tags input {
    padding: 0.9em 0.5em;
    box-sizing: border-box;
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: inherit;
    font-family: inherit;
    color: inherit; 
}
.tm-tag {
    color: #555;
    background-color: #f5f5f5;
    border: #bbb 1px solid;
    box-shadow: 0 1px 1px rgb(0 0 0 / 8%) inset;
    display: inline-block;
    border-radius: 3px;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    margin: 0 5px 5px 0;
    padding: 4px;
    text-decoration: none;
    transition: border .2s linear 0,box-shadow .2s linear 0;
    -moz-transition: border .2s linear 0,box-shadow .2s linear 0;
    -webkit-transition: border .2s linear 0,box-shadow .2s linear 0;
    vertical-align: middle;
}
.tm-tag.tm-tag-info {
    color: #4594b5;
    background-color: #c5eefa;
    border-color: #5dc8f7;
}
.tm-tag .tm-tag-remove {
    color: #000;
    font-weight: bold;
    margin-left: 4px;
    opacity: .2;
}
.typeahead >.active > a{
    background: var(--main-light);
    color: #fff !important;
}
/*End Tags*/
.bg-edit{
    background: #5532bc
}
.main-bg-dark{
    background-color: #3d096b;
}
.main-color-dark{
    color: #3d096b;
}
.main-bg-light{
    background-color: #97197d;
}
.main-color-light{
    color: #97197d;
}
.main-dark-btn{
    white-space: nowrap;
    background-color: var(--main-dark);
    color: #fff;
    display: inline-block;
    padding: 9px 26px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main-dark-btn:hover,
.main-dark-btn:focus{
    background-color: #320758;
    color: #fff;
}
.main-dark-btn-lg{
    white-space: nowrap;
    background-color: var(--main-dark);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 15px 32px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main-dark-btn-lg:hover,
.main-dark-btn-lg:focus{
    background-color: #320758;
    color: #fff;
}
.main-light-btn{
    white-space: nowrap;
    background-color: var(--main-light);
    color: #fff;
    display: inline-block;
    padding: 9px 26px;
    font-size: 14px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main-light-btn:hover,
.main-light-btn:focus{
    background-color: #85166e;
    color: #fff;
}
.main-light-btn-lg{
    white-space: nowrap;
    background-color: var(--main-light);
    color: #fff;
    display: inline-block;
    font-size: 18px;
    padding: 15px 25px;
    border: 0;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.main-light-btn-lg:hover,
.main-light-btn-lg:focus{
    background-color: #85166e;
    color: #fff;
}
a,a:hover{
    text-decoration: none;
}
button{
    cursor: pointer;
}
.main-container{
    /*min-height: 100%;*/
    min-height: 100vh;
}
.navbar-toggler:focus,
.form-select:focus,
button:focus,
.btn-close:focus,
.btn-check:focus+.btn, .btn:focus{
    outline: 0;
    box-shadow: none;
}
.form-check-input:focus,
.form-control:focus{
    box-shadow: none;
    border-color: #e6eaed;
    box-shadow: none
}
.form-control::placeholder{
    color: #33516cb2;
    font-size: 13px;
}
.form-check-input{
    margin-right: 5px;
}
textarea{
    border-radius: 10px !important;
    -webkit-border-radius: 10px !important;
    -moz-border-radius: 10px !important;
    -ms-border-radius: 10px !important;
    -o-border-radius: 10px !important;
}
.input-group:not(.has-validation)>:not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
label{
    /*font-size: 14px;*/
    margin-bottom: 5px;
    font-weight: 500;
    color: #33516c;
    position: relative;
}
.tooltip-container{
    position: relative;
}
.tooltip-label{
    font-size: 9px;
    height: 16px;
    width: 16px;
    background: var(--main-light);
    color: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -20px;
    top: 0;
}
.pointer{
    cursor: pointer;
}
.main-p-y{
    padding-block: 40px;
}
.main-p-x{
    padding-inline: 40px;
}
.main-p-t{
    padding-top: 60px;
}
.main-p-b{
    padding-bottom: 60px;
}
.main-bg{
    background-color: var(--main-bg);
}
.section-head h3{
    color: var(--main-font-color);
    font-size: 26px;
    font-weight: 400;
    margin: 0;
}
.section-head h3 span{
    opacity: .6;
    font-size: 14px;
}
.section-head .dropdown-toggle{
    color: #191919;
    border: 0;
    background: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
}
.section-head .dropdown-menu{
    box-shadow: 0px 2px 6px rgb(233 236 241);
    border-color: #f1f4f8;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.section-head .dropdown-item{
    color: var(--main-font-color);
    font-weight: 600;
    color: var(--main-font-color);
    padding-inline-start: 50px;
    padding-inline-end: 35px;
    padding-block: 14px;
    position: relative;
}
.section-head .dropdown-item::before{
    content: "";
    position: absolute;
    left: 25px;
    top: 44%;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--main-light);
}
.section-head .section-head-link{
    color: #191919;
    background: #fff;
    padding: 15px 25px;
    border-radius: 10px;
    font-weight: 600;
}
.default-box{
    background: #fff;
    padding: 22px 18px;
    margin-bottom: 20px;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.default-box-dashed{
    border: 1px dashed #8092a338;
}
.default-box .default-box-head{
    margin-bottom: 35px;
}
.default-box .default-box-head h4{
    color: var(--main-font-color);
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    position: relative;
    margin-top: 0;
}
.default-box .default-box-head h4 i{
    color: var(--main-font-color);
    margin-right: 5px;
}
.default-box .default-box-head h6{
    color: #535353;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 0;
}
.owl-custom-nav button{
    background: #fff;
    color: #8092a3;
    border: 1px solid #ccc;
    font-size: 19px;
    padding: 3px 11px;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}
.default-box .default-box-head-show-hide{
    margin-bottom: 0;
    cursor: pointer;
}
.default-box .default-box-head-show-hide h4,
.default-box .default-box-head-show-hide h4 i{
    color: var(--main-font-color);
    font-size: 14px;
}
.default-box .hidden-default-box-body{
    margin-top: 35px;
    display: none;
}
table .sm-img{
    width: 50px;
    height: 50px;
    object-fit: contain;
    margin: auto;
    display: block;
}
table .dropdown-toggle{
    font-size: 14px;
}
table .dropdown-menu li{
    font-size: 13px;
}
table .dropdown-menu li i{
    width: 25px;
    font-size: 14px;
}
.table-overview {
    border-collapse: separate;
    border-spacing: 0 10px;
}
/*.home-tables .table-responsive{*/
/*    max-height: 400px;*/
/*    overflow: auto;*/
/*}*/
.home-tables .table-overview th,
.home-tables .table-overview td {
    border: 0 !important;
    background-color: #f9f6ff;
    white-space: nowrap;
    padding: 8px;
}
.home-tables .table-overview th:first-of-type,
.home-tables .table-overview td:first-of-type {
    border-radius: 15px 0 0 15px;
}
.home-tables .table-overview th:last-of-type,
.home-tables .table-overview td:last-of-type {
    border-radius: 0 15px 15px 0;
}
.home-tables .table-overview .sq-box {
    height: 40px;
    width: 40px;
    color: #fff;
    text-align: center;
    line-height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.home-tables .table-overview h6 {
    font-size: 12px;
    color: #8092a3;
    margin-bottom: 0;
}
.home-tables .table-overview h6 + span {
    color: #33516c;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}
/* End Global Styles */
@media only screen and (min-width: 768px){
    .align-items-md-center{
        align-items: center;
    }
    .justify-content-md-between{
        justify-content: space-between;
    }
    .flex-md-row{
        flex-direction: row;
    }
}
/* Start Variables */
:root {
    --main-light: #97197d;
    --main-dark: #3d096b;
    --main-bg: #f1f4f8;
    --main-font-color: #002547;
}
/* End Variables */

/* Start Login Page */
.login-p{
    min-height: 100vh;
}
.login-p > div{
    flex: 1;
}
.login-p .form-part{
    padding: 40px;
}
.login-p .form-part .login-header img{
    width: 200px;
}
.login-p .form-part .login-header span a{
    font-size: 15px;
    font-weight: 600;
    color: #9e9e9e;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.login-p .form-part .login-header span a:hover,
.login-p .form-part .login-header span a.active{
    color: #000;
}
.login-p .form-part .login-header span.dot{
    width: 5px;
    height: 5px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}
.login-p .form-part .login-body{
    width: fit-content;
    min-width: 60%;
    margin-inline: auto;
    margin-top: 100px;
    margin-bottom: 40px;
    text-align: start;
}
.login-p .form-part .login-body h4{
    font-size: 32px;
    color: #26315f;
    margin-bottom: 6px;
}
.login-p .form-part .login-body p{
    font-size: 16px;
    color: #96969a;
}
.login-p .form-part .login-body form{
    margin-top: 40px;
}
.login-p .form-part .login-body form label{
    color: #696969;
    font-size: 14px;
    font-weight: 600;
}
.login-p .form-part .login-body .form-group > div{
    position: relative;
}
.login-p .form-part .login-body form input{
    padding: 12px;
    border-radius: 20px !important;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.05);
    border: solid 1px #dfe2e6;
}
.login-p .form-part .login-body form input[type='text'],
.login-p .form-part .login-body form input[type='password'],
.login-p .form-part .login-body form select,
 #business_register_form-p-0 .select2-selection{
    height: 50px;
    padding-left: 35px;
}
.login-p .form-part .login-body form input::placeholder{
    color: #dfe2e6;
}
.login-p .form-part .login-body form i{
    position: absolute;
    bottom: 18px;
    left: 10px;
    color: #dfe2e6;
}
.login-p .form-part .login-body .register-btn{
    color: #666;
    font-weight: 600;
    /*padding: 7px 40px;*/
    /*border-radius: 20px;*/
    /*border: solid 2px var(--main-light);*/
    /*color: var(--main-light);*/
    /*width: fit-content;*/
    /*white-space: nowrap;*/
    /*margin-inline-end: 6px*/
}
.login-p .form-part .login-body .register-btn span{
    color: var(--main-light);
}
.login-p .form-part .login-body form  input[type='submit']{
    background-color: var(--main-light);
    color: #fff;
    box-shadow: 1px 1px 8px rgb(151 25 125 / 50%);
    display: block;
    width: 100%;
    cursor: pointer;
    padding-block: 10px;
    border-radius: 25px;
}
.login-p .form-check{
    padding-left: unset;
    padding-inline-start: 1.25rem;
}
.login-p .form-part .login-body .form-check-label,
.login-p .form-part .login-body .forgot-pass{
    color: #696969;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
}
.login-p .form-part .login-body .forgot-pass{
    opacity: .5;
}
.login-p .form-part .login-footer span a{
    font-size: 16px;
    font-weight: 600;
    color: #525252;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.login-p .form-part .login-footer span a:hover{
    color: #2b2b2b;
}
.login-p .form-part .login-footer span.dot{
    width: 5px;
    height: 5px;
    background: #2b2b2b;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}

.login-p .img-part{
    /*position: relative;*/
    /*background-color: #fbf7ff;*/
    /*height: 100vh;*/
    /*width: 100%;*/
    /*justify-content: center;*/
    /*padding-bottom: 25px;*/
    /*overflow: hidden;*/
}
/*.login-p .img-part .fill-1{*/
/*    position: absolute;*/
/*    right: 0;*/
/*    top: 0;*/
/*    width: 200px;*/
/*}*/
/*.login-p .img-part .fill-2{*/
/*    position: absolute;*/
/*    bottom: -120px;*/
/*    right: 0;*/
/*    left: 0;*/
/*    width: 100%;*/
/*}*/
.login-p .img-part .login-img{
    width: 100%;
    z-index: 1;
}
#business_register_form .actions ul{
    width: 100%;
}
#business_register_form .actions ul li{
    width: 100%;
    text-align: center;
}
#business_register_form .actions ul li a{
    background-color: var(--main-light) !important;
    color: #fff;
    box-shadow: 1px 1px 8px rgb(151 25 125 / 50%);
    display: block;
    width: 100%;
    cursor: pointer;
    padding-block: 10px;
    border-radius: 25px !important;
}
#business_register_form.wizard>.actions>ul>li {
    margin: 0;
}
.home-p > div{
    flex: 1;
}
.home-p .home-header span.dot {
    width: 5px;
    height: 5px;
    background: #000;
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
}
.home-p .home-header span a.active {
    color: #000;
}
.home-p .home-header span a {
    font-size: 15px;
    font-weight: 600;
    color: #9e9e9e;
    transition: all .2s ease-in-out;
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -ms-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
}
.home-p h4{
    text-align: center;
    color: #26315f;
    margin-bottom: 80px;
    font-size: 38px;
    line-height: 1.8;
}
.home_login{
    text-align: center;
    background-color: var(--main-light);
    color: #fff;
    box-shadow: 1px 1px 8px rgb(151 25 125 / 50%);
    display: block;
    width: 100%;
    cursor: pointer;
    padding-block: 10px;
    border-radius: 25px;
}
.back_home{
    text-align: center;
    background-color: var(--main-dark);
    color: #fff;
    box-shadow: 1px 1px 8px rgb(151 25 125 / 50%);
    display: block;
    width: 100%;
    cursor: pointer;
    padding-block: 10px;
    border-radius: 25px;
}
.home_login:hover,
.back_home:hover{
    color: #fff;
}
.home-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20%;
}
.home-footer a{
    color: #444;
    font-weight: 500;
    text-decoration: underline;
}
/* End Login Page */
@media only screen and (min-width: 768px){
    /*.main-container{*/
    /*    margin-inline-start: 240px;*/
    /*    transition: all .3s ease-in-out;*/
    /*}*/
    /*.sidebar-mini.sidebar-collapse .main-container{*/
    /*    margin-inline-start: 0;*/
    /*}*/
}
/* Start Inner Navbar */
.inner-nav{
    overflow-x: auto;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.inner-nav .navbar-toggle i,
.inner-nav .navbar-toggler i{
    color: var(--main-light);
}
.inner-nav.navbar-expand-lg .navbar-toggle + .nav-link,
.inner-nav.navbar-expand-lg .navbar-nav .nav-link{
    position: relative;
    color: #191919;
    font-weight: 600;
    font-size: 15px;
    padding: 16px 1rem;
    white-space: nowrap;
}
.inner-nav.navbar-expand-lg .navbar-nav  .nav-link.active{
    background-color: var(--main-light);
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.inner-nav.navbar-expand-lg .navbar-nav  .nav-link.active-dark{
    background-color: var(--main-dark);
    color: #fff;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
.inner-nav .nav-link::after{
    content: "";
    position: absolute;
    right: 0;
    width: 1px;
    background-color: #d7d7d7;
    top: 12px;
    bottom: 12px;
}
.inner-nav .nav-link.active-dark:after,
.inner-nav .nav-link.active:after{
    background-color: var(--main-light);
}
.inner-nav .nav-link:last-of-type:after{
    content: unset;
}
.nav-dropdown button{
    border: 0;
    background: #fff;
    height: 55px;
    border-radius: 8px;
}
.nav-dropdown .active-light.dropdown-item{
    color: #fff !important;
    background-color: var(--main-light);
}
.nav-dropdown .active-light.dropdown-item i{
    color: #fff !important;
}
/* End Inner Navbar */
/* Start Main Top Nav */
.main-top-nav{
    background: #fff;
    padding: 20px 12px;
}
.main-top-nav .top-nav-logo{
    width: max-content;
}
.main-top-nav .logo{
    width: 150px;
    margin-right: 15px;
}
.main-top-nav .flags{
    margin-right: 22px;
}
.main-top-nav .flags .dropdown-toggle{
    direction: rtl;
}
.main-top-nav .flag{
    width: 36px;
    height: 36px;
}
.main-top-nav .icon-container{
    background-color: var(--main-bg);
    width: 40px;
    height: 40px;
    margin-left: 8px;
    border: 0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-top-nav .popover.bottom>.arrow {
    right: 34%;
}
.main-top-nav .icon-container.renew-btn{
    width: 100%;
    margin-bottom: 5px;
}
.main-top-nav .icon-container > div{
    position: relative;
    display: inherit;
}
.main-top-nav .icon-container i{
    color: var(--main-dark);
}
.notify-dot{
    position: absolute;
    background: #ff382f;
    height: 5px;
    width: 5px;
    right: 0px;
    top: 3px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.main-top-nav .dropdown-menu{
    left: unset;
    inset-inline-end: 0;
    /*transform: translate3d(-38px, 44px, 0px);*/
}
.main-top-nav .profile-toggle{
    background-color: transparent;
    border: 0;
    padding: 0;
    color: var(--main-font-color);
    font-size: 14px;
    font-weight: 600;
}
.main-top-nav .profile-toggle > span{
    color: var(--main-font-color);
    font-size: 14px;
    font-weight: 700;
}
.main-top-nav .separator{
    width: 1px;
    height: 24px;
    margin: 0 14px;
    background: #d8d8d8;
}
.main-top-nav .avatar{
    background: #f1f4f8;
    padding: 4px;
    height: 44px;
    width: 44px;
    object-fit: contain;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-top-nav select.lang{
    width: fit-content;
    height: 40px !important;
    margin-inline-end: 8px;
    background-color: var(--main-bg);
    border: 0;
    margin-left: 8px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.main-top-nav li{
    list-style: none;
}
/* End Main Top Nav */
/* Start Sidebar */
.sidebar-btn{
    cursor: pointer;
}
main{
    display: flex;
    overflow: hidden;
}
.main-sec{
    /*display: inline-block;*/
}
.main-sec{
    min-height: 100vh;
    width: 100%;
    /* padding: 40px; */
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.side-bar.open + .main-sec{
    margin-inline-start: 240px;
    width: calc(100% - 240px);
}
.main-footer{
    margin: 0;
}
.side-bar{
    display: flex;
    padding-top: 15px;
    background: #fff;
    width: 240px;
    height: auto;
    min-height: 100%;
    /*min-height: 90vh;*/
    position: absolute;
    visibility: hidden;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    overflow-y: auto;
}
.side-bar.open{
    z-index: 9;
    visibility: visible;
    transform: unset;
    -webkit-transform: unset;
    -moz-transform: unset;
    -ms-transform: unset;
    -o-transform: unset;
}
.side-bar > ul {
    width: 100%;
}
.side-bar > ul > li {
    font-size: 15px;
    color: #8092a3;
    padding: 5px 15px;
    cursor: pointer;
}
.side-bar > ul > li > a{
    transition: all .3s ease-in-out;
}
.side-bar > ul > li > a:hover,
.side-bar > ul > li .menu-opend{
    background-color: #eee;
    border-radius: 12px;
}
/* .side-bar > ul > li > a:not([href]):not([tabindex]){
    color: #8092a3;
} */
.side-bar > ul > li > a{
    color: #000;
    display: block;
    padding: 10px;
    position: relative;
    font-size: 15px;
}
/* .side-bar > ul > li > a.active:not([href]):not([tabindex]), */
.side-bar > ul > li a.active{
    background: var(--main-dark);
    color: #fff;
    border-radius: 13px;
    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    -ms-border-radius: 13px;
    -o-border-radius: 13px;
}
.side-bar > ul > li a i:first-of-type{
    margin-inline-end: 5px;
    color: var(--main-font-color);
}
.side-bar > ul > li a.active i:first-of-type{
    color: #fff;
}
.side-bar > ul > li a i.arrow{
    position: absolute;
    inset-inline-end: 10px;
    transition: all .3s ease
}
.side-bar > ul .menu-opend i.arrow{
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
    -moz-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    -o-transform: rotate(-180deg);
}
.side-bar ul ul{
    padding: 0 5px 0 15px;
    display: none;
}
.side-bar ul ul li a{
    position: relative;
    display: block;
    color: var(--main-font-color);
    font-size: 13px;
    font-weight: 500;
    padding: 10px 15px 10px 10px;
}
.side-bar ul ul li a:before{
    content: "";
    height: 5px;
    width: 5px;
    background-color: var(--main-light);
    display: inline-block;
    position: absolute;
    top: 43%;
    inset-inline-start: 0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}